@import './input.scss';
@import './splitter.scss';

* {
  box-sizing: border-box;
}

:root {
  --main-text-color: #495057;
  --check-border: #adb5bd;
  --popup-border: #f8f9fa;
  --inputText-border: #ced4da;
  --main-color-purple: #3e4cf2;
  --main-color-deepblue: #0e13d8;
  --header-left: #09075b;
  --header-right: #060537;
  --user-icon: #adb5bd;
  --main-bg-color: #fff;
  --main-title: #13171a;
  --sub-title: #868e96;
  --line-color: #d2d3d5;
  --main-color-blue: #4971fc;
  --main-color-lightpurple: #2b19e0;
  --card-color: #e5eaef;
  --warning-color: #f25f20;
  --gray-50: #f9f9f9;
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #b4b4b4;
  --gray-400: #9b9b9b;
  --gray-500: #676767;
  --gray-600: #424242;
  --gray-700: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-1000: #121212;
  --blue-50: #f7f9ff;
  --blue-100: #edf2ff;
  --blue-200: #3182f6;
  --blue-300: #2565ff;
  --blue-400: #00297b;
  --purple-100: #f3f3ff;
  --purple-200: #8a52ff;
  --purple-300: #722fff;
  --cyan-100: #f0fbfa;
  --cyan-200: #00a6a6;
  --pink-100: #f9f2f5;
  --pink-200: #ff3c8e;
  --red-100: #ff634e;
  --red-200: #f14832;
  --green: #06d233;
  --yellow: #ffc700;
  --chart-11: #11900e;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--main-text-color);
  font-family: 'Pretendard', sans-serif;
  position: relative;
  font-size: 15px;
}

html {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

div {
  box-sizing: border-box;
}

.flexDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.flexDivColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexEnd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

input[type='text'],
input[type='password'],
input[type='checkbox'] {
  &:focus {
    outline: none;
  }

  &[type='checkbox'] {
    background: #fff;
    border: 1px solid var(--check-border);
    cursor: pointer;
    outline: 0;
    vertical-align: -2px;
  }
}
