.app-input {
  width: 100%;

  &.MuiFormControl-root {
    fieldset {
      border-color: var(--gray-200);
      border-radius: 8px;
    }

    .MuiInputBase-multiline {
      padding: 12px 16px 20px;
    }

    input[type='text'][type='text'] {
      padding: 9px 12px;
      height: 22px;
      font-family: 'Pretendard', sans-serif;
    }

    .MuiInputBase-root {
      border-radius: 8px;
      font-size: 14px;
      line-height: 22px;
      color: var(--gray-900);

      &:not(.Mui-disabled) {
        &:hover {
          fieldset {
            border-color: var(--gray-200);
          }
        }
      }

      &.Mui-disabled {
        background: var(--gray-100);
        color: var(--gray-900);

        fieldset {
          border-color: var(--gray-200);
        }

        input {
          -webkit-text-fill-color: inherit;
        }
      }

      &.Mui-focused {
        fieldset {
          border-width: 1px;
          border-color: var(--blue-200);
        }
      }

      .icon-search,
      .icon-calendar {
        font-size: 20px;
        color: var(--gray-500);
      }

      .MuiInputAdornment-positionStart + input[type='text'][type='text'] {
        padding-left: 2px;
      }
    }

    &.color-gray-500 {
      .MuiInputBase-root {
        color: var(--gray-500);
      }
    }
  }
}

.app-select {
  width: 100%;

  &.MuiInputBase-root {
    fieldset {
      border-color: var(--gray-200);
      border-radius: 8px;
    }

    .notranslate::after {
      color: var(--gray-400);
    }

    .MuiSelect-select {
      padding: 9px 12px;
      font-size: 14px;
      line-height: 22px;
      color: var(--gray-900);
      text-align: left;

      .placeholder {
        color: var(--gray-400);
      }
    }

    .icon-chevron-down {
      position: absolute;
      right: 10px;
      font-size: 20px;
      color: var(--gray-400);
    }

    &.open {
      .icon-chevron-down {
        transform: rotate(180deg);
      }
    }

    &.Mui-focused {
      fieldset {
        border-width: 1px;
        border-color: var(--blue-200);
      }
    }

    &:not(.Mui-disabled) {
      &:hover {
        fieldset {
          border-color: var(--gray-200);
        }
      }
    }

    &.Mui-disabled {
      background: var(--gray-100);
      color: var(--gray-900);

      .MuiSelect-select {
        -webkit-text-fill-color: inherit;
      }

      .icon-chevron-down {
        opacity: 0;
      }

      fieldset {
        border-color: var(--gray-200);
      }
    }

    &.h-32 {
      .MuiSelect-select {
        padding: 6px 10px;
        font-size: 13px;
        line-height: 20px;
      }

      .icon-chevron-down {
        font-size: 16px;
      }
    }

    &.in-table-select {
      fieldset {
        border-color: transparent;
        border-radius: 0;
      }
    }
  }
}
