.splitter-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-splitter {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &.active {
    .gutter.gutter-horizontal {
      background: #e7e2fb;
      width: 2px !important;
    }
  }

  .gutter.gutter-horizontal {
    position: relative;
    width: 2px !important;
    background: var(--gray-300);
    margin: 0 1px;
    cursor: col-resize;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 45px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 1px;
      background: var(--gray-300);
      cursor: col-resize;
      display: none;
    }

    &:before {
      left: -4px;
    }

    &:after {
      right: -4px;
    }

    .layout-pane {
    }
  }
}
